* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;

}

li a {
    text-decoration: none;
}

#container {
    position: relative;
    margin: 0 30px;
    width: 1200px;
    /* display: none; */

}

#header {
    width: 100%;
    height: 100px;
    background-color: lightcoral;
}

#logo {
    float: left;
    width: 240px;
    height: 100%;
    background-color: lightgreen;
}

#navi {
    float: right;
    background-color: lightseagreen;
    width: 800px;
    height: 100%;
}

#slider {
    width: 100%;
    height: 300px;
    background-color: lightcyan;
}
#contents{
    margin: 10px auto;
    width: 100%;
    height: 200px;
    background-color: lightgoldenrodyellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tabMenu {
    width: 400px;
    height: 100%;
}


#footer {
    width: 100%;
    height: 100px;
    background-color: lightgray;
}

/* ---------------------------------------------------------------------------- */

#tabMenu input[type="radio"] {
    display: none;

}

#tabMenu label {
    color: #551a8b;
    border: 1px solid #eee;
    background-color: #eee;
    float: left;
    padding: 5px 25px;
}

#tabMenu label:hover {
    background-color: white;
}

#tabMenu div {
    border: 1px solid #eee;
    float: left;
    margin: 0;
}

#tabMenu div ul {
    width: 360px;
    padding: 10px;
    margin: 8px 0;

}

#tabMenu div ul li {
    padding: 6px 10px;
}

#tabMenu div ul li a:link,
#tabMenu div ul li a:visited {
    color: #551a8b;
}

#tabMenu div ul li a {
    font-size: 14px;
}

#tabMenu div ul li span {
    float: right;
}

#notice ul li:nth-child(even) {
    background-color: rgba(114, 63, 251, 0.1);
}

#notice ul li:hover {
    background-color: rgba(246, 182, 44, 0.1);
}

#notice ul {
    /* display: none; */
}

#gallery {
    display: none;
    height: 100%s;
}

#gallery ul {

    float: left;

}

#gallery ul li {
    float: left;
    margin: 10px 5px;
}

#gallery ul li:hover {
    opacity: 0.5;
}

#noticeCheck:checked~label:first-of-type {
    background-color: white;
    font-weight: bold;
}

#galleryCheck:checked~label:last-of-type {
    background-color: white;
    font-weight: bold;

}

#modalTxt {
    background-color: white;
    width: 500px;
    position: absolute;
    left: 380px;
    top: 120px;
}

#modalTxt h1 {
    margin: 25px auto;
    text-align: center;

}

#modalTxt p {
    margin: 0 25px;
    line-height: 23px;
}

#modalTxt button {
    width: 450px;
    height: 40px;
    margin: 20px 25px;
    background-color: #723ffb;
    color: white;
    font-weight: bold;
    border: none;
}

#modalTxt button:hover {
    background-color: rgba(114, 63, 251, 0.1);
    color: #723ffb;
}

#modal {
    display: none;
    position: fixed;
    left: 30px;
    top: 0;
    width: 1200px;
    height: 720px;
    background-color: rgba(0, 0, 0, 0.7);
}
/* ---------------------------------------------------------------------------- */

.link{

    width: 380px;
    height: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    width: 100px;
    text-align: center;
    padding: 14px 14px;
    background-color: #723ffb80;
}
.link{
    background: url(resource/Contents/banner/banner.jpg) no-repeat;
    background-size: cover;
}
.link:last-of-type{
    background: url(resource/Contents/direct/direct.jpg) no-repeat;
    background-size: cover;
}
.link a:hover{
    color: #222328;
    background-color: rgba(255,255,255,0.5);
}
