* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

}

#container {
    margin: 0 30px;
    width: 1200px;
    background-color: lightblue;

}

#header {
    width: 100%;
    height: 100px;
    background-color: #723ffb;
}

#logo {
    float: left;
    width: 240px;
    height: 100%;
    text-align: center;
}

#navi {
    float: right;
    width: 800px;
    height: 100%;
}

#slider {
    width: 100%;
    height: 300px;
    background-color: lightcyan;
}

#contents {
    width: 100%;
    height: 200px;
    background-color: lightgoldenrodyellow;
}

#tabMenu {
    width: 400px;
    height: 100%;
    background-color: olivedrab;
}


#footer {
    width: 100%;
    height: 100px;
    background-color: lightgray;
}
/* ---------------------------------------------------------------------------- */
#logo a img{
    margin-top: 30px;
}

/* ---------------------------------------------------------------------------- */

#navi ul {
    text-align: center;
    margin: 40px 0 0 ;
    
}
#navi ul li{
    height: 70px;
    width: 150px;
    float: left;
    padding: 0px 25px;
    margin: 0;

}
#navi ul li ul{
    margin-top: 15px;
    width: 170px;
    margin-left: -15px ;
    display: none;
}
#navi ul li ul li{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 20px;
    float: left;
    padding: 10px;
    text-align: center;
}

#navi ul li:hover > ul{
    display: block;
    animation-name: topMenu;
    animation-duration: 1s;
}

@keyframes topMenu {
    from{
        transform: translateY(-150px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
    
}
#navi ul li ul li:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

#navi li a:link, #navi li a:visited {
    color: white;

#slider{
    position: relative;
    overflow: hidden;
}

#slider div a{
    position: relative;
}

.slideImg{
    transition: all 1s;
}

.imgTxt{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 16px 100px;
    position: absolute;
    left: -770px;
    top: -180px;
    color: white;
    font-weight: bolder;
}
